/*****************TAG SELECTOR*********************/
h1{
  margin: 0px;
  text-align: center;
  position: relative;
  top: 330px;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  padding-bottom: 20px;
}
h2{
  margin: 0px;
  text-align: center;
  position: relative;
  top: 310px;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
}
body{
	background: #FFCBAA;
	margin: 0px;
	text-align: center;
}
h3{
  margin: auto;
  display: inline-block;
  position: relative;
  top: 120px;
  font-family: 'Prompt', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #9d7c5f;
}
a{
	text-decoration:none;
    color: white;
    font-size: 24px;
}
/*****************CLASS SELECTOR*******************/
.court{
  width: 30%;
  margin: auto;
  margin-bottom: auto;
  margin-bottom: auto;
  margin-bottom: 3px;
  padding-top: 310px;
  position: relative;
  top: 27px;
}
.scale1{
  display: inline;
  position: absolute;
  width: 120px;
  top: 100px;
  left: 120px;
}
.scale2{
  display: inline;
  position: absolute;
  width: 120px;
  top: 600px;
  right: 120px;
}
.border1{
  margin: 0px auto;
  border-block-color: gray;
  border-style: dotted;
  width: 10%;
  display: inline-block;
  position: relative;
  top: 50px;
  border-style: none;
  border-top-style: none;
  border-top-style: dotted;
  border-width: 5px;
}
.photocv{
  width: 200px;
  margin: 90px 40px 40px 40px;
  position: relative;
}
.description1{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    width: 30%;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 100px;
    color: #d29750;
    left: 80px;
}
.contents {
    align-content: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
    left: 80px;
}
.LegalCompetencies{
	margin: auto;
	position: relative;
	right: 450px;

}
.lawyer {
    width: 300px;
    margin: auto;
    position: relative;
    display: inline-block;
    top: 150px;
    left: 300px;
}
.description2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 30%;
    text-align: left;
    display: inline-block;
    position: relative;
    top: 60px;
    color: #d29750;
    right: 200px;
}
.Skill{
    margin: auto;
    position: relative;
    left: 450px;
    bottom: 180px;
}
.Art {
    width: 150px;
    margin: auto;
    position: relative;
    display: inline-block;
    top: 70px;
    left: 420px;
    float: left;
}
.services {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    display: inline;
    color: brown;
    font-weight: bold;
}
.buttonClass {
    font-size: 15px;
    font-family: Arial;
    width: 150px;
    height: 60px;
    border-width: 1px;
    color: rgba(241, 241, 248, 1);
    border-color: rgba(173, 169, 158, 1);
    font-weight: bold;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    box-shadow: 3px 4px 0px 0px #899599;
    text-shadow: 0px 1px 0px #e1e2ed;
    background: linear-gradient(rgba(165, 145, 109, 1), rgba(102, 97, 78, 1));
    position: relative;
    bottom: 200px;
}
.href {
    margin: 0px;
    border-top-width: 10px;
    position: relative;
    top: 13px;
}
.buttonClass:hover {
  background: linear-gradient(rgba(102, 97, 78, 1), rgba(165, 145, 109, 1));
}
.social{
	margin: 25px 40px;
	position: relative;
	top: 30px;
	color: bisque;
	display: inline;
	font-family: 'Raleway', sans-serif;
}
.copyright{
	display: inline;
	margin: 30px auto;
	position: relative;
	top: 70px;
	color: white;
	font-family: 'Raleway', sans-serif;
}
.container1{
  background: #D4936A;
  width: 100%;
  height: 800px;
  margin: 0px 0px;
  text-align: center;
}
.container2{
  background: #F0DDD4;
  width: 100%;
  height: 1200px
}
.container3{
  background: #552100;
  width: 100%;
  height: 170px;
}

